################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/mcp-ai-agent-project/CopilotIndices/17.14.734.62261
/.vs
/source/.vs/MCPAIAgentProject
/source/src/MCPAIAgentProject/Properties
